<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="com.emc.ecs">
    <resources>
        <resource-root path="object-client-3.0.0.jar"/>
        <resource-root path="smart-client-2.1.0.jar"/>
        <resource-root path="jersey-apache-client4-1.19.jar"/>
        <resource-root path="jersey-client-1.19.jar"/>
        <resource-root path="jersey-core-1.19.jar"/>
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="javax.ws.rs.api"/>
        <module name="org.apache.httpcomponents"/>
        <module name="org.apache.commons.codec"/>
        <module name="org.slf4j"/>
    </dependencies>
</module>
